.vidTitle { 
    font-family: 'Arvo', serif; 
    font-size: small;
}
.vidInfo { font-family: 'Lato', sans-serif;}
.vidState { 
    font-family: monospace;
    background-color: #eee;
    border: 1px solid #aaa;
    /* border-radius: 6px; */
    padding: 0 12px;
}

h2.vidTitle { font-size: 1.5rem }

.search-bar {
    margin: 20px;
}

.search-bar input  {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 24px;
}

.bold { font-weight: 700 }

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

li.list-group-item.videoSelect { cursor: pointer }

li.list-group-item.videoSelect:hover { 
    background-color: #eee; 
    border: 2px solid #aaa;
}

.lightmode {
    color: rgb(55,58,50);
    background-color: white;
}

.darkmode {
    color: #eee;
    background-color: #2c3e50;
}

.darkmode .list-group-item {
    color: #eee;
    background-color: #2c3e50;
    border: 1px solid #ddd;
}

.darkmode .vidState { 
    color: black;
}